body {
    width:100%;
    height:100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(228, 228, 228);
    color: rgba(15, 15, 15, 0.726) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.9fr 3fr;
    max-width: 100vw;
    margin-top: 55.8px;
}

.grid-2 {
    border: 0.25px rgb(199, 199, 199) solid;
    height: max-content;
}

.hey {
    border: 0.25px rgb(199, 199, 199) solid;
    border-radius: 10px;
    padding-left: 20px;
    background-color: whitesmoke;
    margin-right: 20px;
    margin-top: 20px;
    width: auto;
}

.side {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: sticky;
    padding: 8px;
    background-color: white;
    border-bottom: 0.25px rgb(199, 199, 199) solid;
    border-top: 0.25px rgb(199, 199, 199) solid;
    font-size: 14.5px;
    max-height: 90.7vh;
}

nav {
    height: 60px;
    padding: 0px;
    position: fixed;
    border: 0.45px rgb(199, 199, 199) solid;
}

.btn:hover, .btn:active {
    background-color: #7afc19 !important;
    color: white;
    font-weight: bolder;
}
.btn {
    border-radius: 11px;
    border-color: transparent !important;
    color: #7afc19;
    font-weight: bold;
}

 #inu {
     width: inherit;
     margin-top: 10px;
     border: 0.2px #e4e4e4 solid;
     outline: none;
     padding: 5px;
     padding-left: 25px;
     border-radius: 25px;
     color: #adadad;
}

.btn {
    margin-top: 3px;
}

.badge {
    background-color: #7afc19;
    padding: 3.75px;
}

.jack {
    width: auto;

}


ul {   
    list-style-type: none;
    padding: 5px;
    text-align: left;
}

li {
    font-size: 14px;
}

#list1 {
    position: relative;
    left: 25px;
    text-align: left;
    width: 80%;
}

.display-4 {
    /*text-decoration: underline 3px #7afc19 solid;*/
    font-size: large;
}

#list1 #source-list #source-item {
    display: inline-block;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
    color: #7afc19;
}

.join {
    width: 25;
}
.join:hover {
    position: relative;
    top: -2.35px;
    width: 25;
    text-decoration: none !important;
    
}

a {
    text-decoration: none;
    color: rgba(15, 15, 15, 0.726);
    font-style: normal;
    font-weight: 400;
}

#source-item > a:hover {
    text-decoration: none;
    color: white;
    padding-left: -5px;
}

.card-header {
    display: block;
}

.card-body{
    padding: 0px 18px 16px 18px;
    font-size: 13.85px;
}

.card-header > a:hover {
    text-decoration: none;
    color: #7afc19;
}

#icon {
    margin-right: 8.5px;
    border-radius: 3px;
}

#source-item {
    display: block;
    font-size: 12.5px;
    padding: 5px 16px;
    border: none;
    font-style: normal;
    font-weight: 400;
}

#source-list {
    border: 0;
}

form {
    display: inline;
}

button {
    margin-right: 10px;
}

.icon {
    height: 20;
    width: 20;
    float: right;
}

.icon > svg {
    color: gray;
}

.icon > svg:hover {
    color: whitesmoke;
}

.href {
    display: inline;
    font-size: 14px;

}

#source-item:hover {
    background-color: #7afc19 ;
    color: white;
}

#source-item:hover > .href {
    color: white;
    font-weight: bold;
}

#source-item:hover > .icon > svg{
    background-color: #7afc19;
    color: white;
}

#source-item:focus {
    background-color: #7afc19 ;
    color: white;
}

.headline {
    width: auto;
    height: 90.5vh;
    padding: 13px 25px 0px 25px;
    background-color: #e4e4e4f8;
}

p.card-text {
    padding-top: 6px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 14px;
}

#text {
    font-size: 10px;
}

.card-header {
    margin: 0;
    background-color: #f8f8f8f1;
}

.noj {
    display: block;
}

.card-header .noj > h5 {
    margin: 7px 0px;
    color: #6fff00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-header .noj > h5:hover {
    margin: 7px 0px;
    color: rgba(15, 15, 15, 0.726);
    text-decoration: none;
}

.card {
    border: 1px solid transparent;
    margin-bottom: 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.carded {
    padding: 0;
    max-height: 57.2vh;
    overflow-y: scroll;
    
}

.cards {
    padding: 0;
    max-height: 78.5vh;
    overflow-y: scroll;
    
}

.source {
    margin-right: 20px;
}

.source:hover {
    color: #7afc19;
}


.cards::-webkit-scrollbar {
    display: none;
}  
  
.cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carded::-webkit-scrollbar {
    display: none;
}

.carded {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}


@media (max-width: 500px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }

    .side { display: hidden; max-height: none;}

    .cards { overflow-y: none; max-height: none;}

    .headline {background-color: transparent;}

    .list-group {max-height: 140px;}

}

.card-body > .h1, h1 {
    font-size: 14.2px !important;
}
.container {
      margin-top: -5px;
}
