{% extends 'codex/layout.html' %}


{% block body %}
    <div class="headline">
        <h4 style="margin-left: 30px; margin: 20px; font-size: 24px;" class="display-4">Categories</h4>
        <ul class="cards" style="width: 100; max-height: 78.5vh; overflow-y: scroll;">
            <section>
                {% for sourca in sourced %}
                    <a style="width: 100%;" href="{% url 'spec_sources' sourca.name %}">
                        <div class="module">
                            <img height=100% width=100% src="{{sourca.image}}" alt="">
                            <h1 style="font-size: 22px !important; font-weight: bold; color: white;">{{sourca.name}}</h1>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </ul>
    </div>        
{% endblock body %}
    