{% extends 'codex/layout.html' %}

{% load static %}

{% block body %}
    <div class="headline">
        <header style=" font-weight: bold; color: black; width: 100%; padding: 10px; position: relative;border-bottom: 1px solid #d6d6d6; background-color: white;">
            <img src="{{sed.image}}" width="25" alt="." id="icon">
            {{sed.name}}
        </header>
        <div class="cards">
            {% for headline in headlines %}
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <a class="noj" href="{{headline.link}}" target="_blank" rel="noopener noreferrer">
                                <h6>{{headline.title}}</h6>
                                
                            </a>
                        </div>
                        
                        {% if headline.description != '' %}
                            <div class="card-body">
                                <p class="card-text">{{headline.description|safe}}</p>
                                <!--a href="{{headline.link}}" target="_blank" class="btn btn-success">Read</a-->
                            </div>
                        {% endif %}
                            
                    </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
    