{% extends 'codex/layout.html' %}


{% block body %}
    <div class="headline">
            <h4 style="margin-left: 30px; color: rgb(15, 15, 15, 0.726); font-size: 28px; font-weight: bold;" class="display-4">
                {% if id != None %}
                    {{id|capfirst}}
                {% else %}
                    Sources
                {% endif %}
            </h4>
        <ul class="list-group" style="width: 100; max-height: 78.5vh; overflow-y: scroll;">
            <div class="row">
                {% for sourca in sourced %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> 
                                <img src="{{sourca.image}}" width="30" alt="." id="icon">
                                {{sourca.name}}
                            </h5>
                        </div>
                        <footer>
                            <a href="{% url "headline" sourca.name %}">
                                <button class="button">Preview</button>
                            </a>
                            {% if sourca in sources.source.all  %}
                                <a class="icon" href="{% url 'delete_source' sourca.pk %}">
                                    <button style="background-color: red !important;" class="button">Remove</button>
                                </a>
                            {% else %}
                                <a class="icon" href="{% url 'follow_source' sourca.name %}">
                                    <button class="button">Follow</button>
                                </a>
                            {% endif %}
                        </footer>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </div>        
{% endblock body %}
    